.ProductView {
  inline-size: 100%;
  block-size: 100vh;
}
.ProductViewHeaderContainer {
  position: sticky;
  top: 0px;
  left: 0px;
  block-size: 50vh;
}
.ProductViewHeader {
  block-size: 100%;
  position: relative;
}

.BackIconLink {
  padding: 4px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 12px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.395);
}

.ProductViewHeader .ProductImage {
  position: relative !important;

  object-fit: cover;
}
.ProductInfoContainer {
  block-size: 100vh;
  background-color: white;
}
.ProductInfo {
  block-size: 100%;
  padding-inline: 20px;
  padding-block-start: 20px;
}
.ProductInfo .PriceTag {
  font-size: 18px;
  background-color: black;
  color: rgba(255, 255, 255, 0.799);
  padding-inline: 20px;
  border-radius: 20px;
}

.ProductInfo .ProductDescription p {
  font-size: 18px;
  line-height: 26px;
  color: rgb(70, 72, 73);
}
.ProductInfo .ProductDescription ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.ProductInfo .ProductDescription ul li {
  font-size: 16px;
  color: rgb(32, 33, 35);
  border-block-end: 1px solid rgb(143, 143, 150);
}

.ProductInfo .ProductDescription p > span {
  background-color: rgb(222, 221, 232);
  padding-inline: 12px;
  padding-block: 2px;
  border-radius: 12px;

  font-weight: 500;
  font-size: 14px;
}
