.ProductView {
  inline-size: 100%;
  position: relative;
  padding: 0px;
}
.ProductViewHeaderContainer {
  position: relative;
  top: 0px;
  left: 0px;
  block-size: auto;
}
.ProductViewHeader {
  inline-size: 100%;

  block-size: 100%;
  position: relative;
}

.ProductView .BackIconLink {
  inline-size: min-content;
  padding: 8px;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #c4a7ff;
  color: #32146e;
  border-radius: 8px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.395);
}

.ProductViewHeader .ProductImage {
  position: relative !important;

  object-fit: cover;
  border-radius: 20px;
}

.ProductInfoContainer {
  block-size: auto;
  background-color: white;
  padding-block-end: 40px;
}
.ProductView .ProductInfo {
  inline-size: 100%;
  block-size: 100%;
  padding-block-start: 20px;
}

.ProductView .ProductInfoContainer .ProductInfo .ImageList {
  padding-inline: 20px;
  padding-block-end: 8px;
  overflow: auto;
}

.ProductView .ProductInfoContainer .ProductInfo .ImagesTabsItem {
  inline-size: 56px;
  block-size: 56px;
  border-radius: 12px;

  box-sizing: content-box;

  overflow: hidden;
  opacity: 0.5;
}

.ProductView .ProductInfoContainer .ProductInfo .ImagesTabsItem.selected {
  inline-size: 92px;
  border: 2px solid #7648d1;
  box-shadow: 0px 3px 6px #7648d1;
  opacity: 1;
}

.ProductView .ProductInfoContainer .ProductInfo .ImagesTabsItemImage {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
  border-radius: 8px;
}

.ProductView .ProductInfo .HeaderInfo {
  padding-inline: 20px;
  padding-block-start: 12px;
}

.ProductView .ProductInfo .HeaderInfo .TagName {
  inline-size: 60%;
  color: #6b637b;
  font-size: 24px;
  line-height: 30px;
}
.ProductView .ProductInfo .HeaderInfo .PriceTag {
  inline-size: fit-content;
  block-size: fit-content;
  font-size: 14px;
  line-height: 20px;
  background-color: #7a4ad9;
  color: #e8e5ef;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 20px;
}
.ProductView .ProductInfo .ProductDescription {
  padding-inline: 20px;

  inline-size: 100%;
}
.ProductView .ProductInfo .ProductDescription p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500px;
  color: #574a70;
}
.ProductView .ProductInfo .ProductDescription ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.ProductView .ProductInfo .ProductDescription ul li {
  font-size: 16px;
  color: #5b2eb5;
  font-weight: 500;
  border-block-end: 1px solid rgb(143, 143, 150);
}
.ProductView .ProductInfo .ProductDescription p:has(span) {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.ProductView .ProductInfo .ProductDescription p > span {
  background-color: rgb(222, 221, 232);
  padding-inline: 12px;
  padding-block: 2px;
  border-radius: 12px;
  margin-inline-end: 4px;
  font-weight: 500;
  font-size: 14px;
  color: #5e33b4;
}

.ProductView .ProductInfo .WhatsappAnchor {
  inline-size: 260px;
  block-size: 56px;

  margin-block-start: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background-color: #4beb88;
  border-radius: 12px;

  align-self: center;

  font-size: 18px;
  font-weight: 500;

  color: #3e3b41;
  box-shadow: 0px 3px 6px #114f2937;
}
.ProductView .ProductInfo .WhatsappAnchor .Icon {
  font-size: 32px;
  color: #185c32;
}
