@import url("./../lib/css/index.css");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
:root {
  --background: #ffffff;
  --foreground: #171717;

  --base-color: #8f5fef;
  --bg-primary: var(--base-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.yl-ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.yl-ripple-animation {
  animation: yl-ripple 0.6s linear;
}
@keyframes yl-ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
