.AllProducts {
  padding-block-end: 80px;
  padding-inline: 0px;

  position: relative;
}

.AllProducts .PromotionalBanner {
  inline-size: 100%;
  block-size: calc(100px + 30vw);

  min-block-size: 200px;
}

.AllProducts .PromotionalBanner .image_loader .image_loader_item {
  object-position: top;
}

.AllProducts .AllProductBody {
  inline-size: 100%;
  padding-inline: 12px;
}

.AllProducts .AllProductsHeader {
  inline-size: 100%;

  margin-block-start: 4px;

  display: flex;
  flex-direction: column;

  font-size: 22px;
  line-height: 26px;
  text-align: start;
}
.AllProducts .AllProductsHeader .SubSpan {
  display: flex;
  align-items: center;
  gap: 8px;
}
.AllProducts .AllProductsHeader .SubSpan .SubSpanText {
  text-wrap: nowrap;
}
.AllProducts .AllProductsHeader .HeaderSeparator {
  inline-size: 100%;
  display: inline-block;
}

.AllProducts .ProductList {
  padding-inline: 12px;
}

.AllProducts .ProductList .ProductLink {
  display: block;
  border-radius: 20px;
}
.AllProducts .ProductList .ProductLink:active {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.205);
}
