.AllProducts {
  padding-block: 40px;
  padding-inline: 12px;
}

.AllProducts .CollectionItem {
  inline-size: 100px;
  block-size: 100px;

  border-radius: 12px;
  border: 1px solid black;
}

.AllProducts .CollectionItem .CollectionItemImage {
  inline-size: 100%;
  block-size: 60px;
}
.AllProducts .CollectionItem .CollectionItemImage img {
  object-fit: contain;
}
.AllProducts .AllProductsHeader {
  font-size: 36px;
}

.AllProducts .ProductList .ProductLink {
  display: block;
  border-radius: 20px;
}
.AllProducts .ProductList .ProductLink:active {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.205);
}
