.ProductCard {
  inline-size: 100%;
  block-size: auto;

  margin-block-end: 12px;
  position: relative;
}

.ProductCard .ProductImage {
  block-size: auto;

  position: static !important;

  border-radius: 24px;
}

.ProductCard .Header2 {
  font-size: 14px;
}
