.CollectionTabs {
  inline-size: 100%;
  padding-block: 12px;

  background-color: white;
}
.CollectionTabs,
.CollectionTabs * {
  transition: all linear 200ms;
}

.CollectionTabs .CollectionTabsHeader {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  padding-inline: 12px;
}

.CollectionTabs .CollectionTabsList {
  inline-size: 100%;
  padding-inline: 12px;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* mejora el scroll en iOS */
}

.CollectionTabs .CollectionTabsList {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.CollectionTabs .CollectionTabsList::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.CollectionTabs .CollectionTabsListItem {
  padding-block: 20px;
  padding-inline: 8px;
  border-radius: 12px;
  background-color: rgb(222, 222, 222);

  scroll-snap-align: start; /* también puedes usar center o end */
}

.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemImage {
  inline-size: 100%;
  block-size: 80px;
}
.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemImage img {
  object-fit: contain;
}

.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemLabel {
  inline-size: 120px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
