.CollectionTabsIntersector {
  block-size: 128px;
  inline-size: 100%;
  position: absolute;
  top: 148px;
  left: 0px;
}

.CollectionTabs {
  padding-inline: 12px;
  padding-block: 12px;
  position: sticky;
  top: 60px;
  left: 0px;

  background-color: white;
  z-index: 1000000000;
}
.CollectionTabs,
.CollectionTabs * {
  transition: all linear 200ms;
}
.CollectionTabs.mini {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247);
}
.CollectionTabs .CollectionTabsHeader {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.CollectionTabs .CollectionTabsList {
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* 'x' para scroll horizontal, 'y' para vertical */
  -webkit-overflow-scrolling: touch; /* mejora el scroll en iOS */
}

.CollectionTabs .CollectionTabsList {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.CollectionTabs .CollectionTabsList::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.CollectionTabs .CollectionTabsListItem {
  inline-size: 80px;
  block-size: 80px;

  padding-block: 8px;
  padding-inline: 8px;
  border-radius: 12px;
  background-color: rgb(222, 222, 222);

  scroll-snap-align: start; /* también puedes usar center o end */
}

.CollectionTabs.mini .CollectionTabsListItem {
  inline-size: 40px;
  block-size: 40px;

  padding-block: 8px;
  padding-inline: 8px;
  border-radius: 8px;
}
.CollectionTabs .CollectionTabsListItem.selected {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(96, 96, 96);
}

.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemImage {
  inline-size: 100%;
  block-size: 48px;
}
.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemImage img {
  object-fit: contain;
}

.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemInitIcon {
  inline-size: 100%;
  block-size: 60px;
  padding-block: 8px;
}
.CollectionTabs.mini .CollectionTabsListItem .CollectionTabsListItemInitIcon {
  inline-size: 100%;
  block-size: 60px;
  padding-block: 0px;
}
.CollectionTabs .CollectionTabsListItem .CollectionTabsListItemLabel {
  inline-size: 60px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
